[submodule "pymoveit2"]
	path = pymoveit2
	url = https://github.com/HuanyuL/pymoveit2.git
[submodule "Universal_Robots_ROS2_Driver"]
	path = Universal_Robots_ROS2_Driver
	url = https://github.com/HuanyuL/Universal_Robots_ROS2_Driver.git
	branch = humble
[submodule "Universal_Robots_ROS2_Description"]
	path = Universal_Robots_ROS2_Description
	url = https://github.com/HuanyuL/Universal_Robots_ROS2_Description.git
	branch = humble
